html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #FA6900, #F38630);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vote-box {
    padding: 15px;
    border-radius: 3px;
    height: 200px;
    width: 320px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s linear;
}

.vote-box:active {
    background: rgba(0, 0, 0, 0.2);
}

.image-div {
    width: 100%;
    height: calc(100% - 28px);
}

.animal {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal img {
    height: 100%;
    width: auto;
    transition: all 0.2s ease-in;
}

.animal img:hover {
    transform: scale(1.1);
}

.animal img:active {
    transform: scale(1);
}

.cat {
    height: 120px !important;
    width: auto;
}

.inputs-div {
    width: 320px;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    margin-top: 7px;
    border-radius: 3px;
}

.inputs-div input {
    height: 35px;
    width: 200px;
    background: rgba(0, 0, 0, 0.1);
    border: none !important;
    color: white;
    box-sizing: border-box;
    padding: 5px;
}

.inputs-div input:focus {
    outline: none !important;
}