html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background: linear-gradient(to bottom, #fa6900, #f38630);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

.vote-box {
	padding: 15px;
	border-radius: 3px;
	height: 200px;
	width: 320px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	color: white;
	font-size: 25px;
	transition: all 0.1s linear;
}

.vote-box:active {
	background: rgba(0, 0, 0, 0.2);
}

.image-div {
	width: 100%;
	height: calc(100% - 28px);
}

.animal {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animal img {
	height: 100%;
	width: auto;
	transition: all 0.2s ease-in;
}

.animal img:hover {
	transform: scale(1.1);
}

.animal img:active {
	transform: scale(1);
}

.cat {
	height: 120px !important;
	width: auto;
}

.error {
	color: red;
}

.success {
	color: green;
}

.message-div {
	width: 320px;
	padding: 7px;
	margin-top: 7px;
	text-align: center;
}

.message-div span {
	transition: all 0.3s ease-in-out;
}

.inputs-div {
	width: 320px;
	background: rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	margin-top: 7px;
	border-radius: 3px;
}

.inputs-div input {
	height: 35px;
	width: 200px;
	background: rgba(0, 0, 0, 0.1);
	border: none !important;
	color: white;
	box-sizing: border-box;
	padding: 5px;
}

.inputs-div input:focus {
	outline: none !important;
}
